@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 12rem;
    text-align: center;
    color: white;
    text-shadow: 1rem 1rem 3rem #000;
}

#clock {
    font-weight: 300;
    font-size: 6rem;
}